---
//src/pages/events.astro
import Layout from '../layouts/Layout.astro';
---
<Layout title="Events | JDM Social Network">
	<h1>Próximos Eventos JDM</h1>
	<div class="events-container">
		<div class="events-list">
			<div class="event">
				<h2>Tokyo Auto Salon</h2>
				<p>Fecha: 12-14 de enero de 2024</p>
				<p>Ubicación: Makuhari Messe, Chiba, Japón</p>
				<p>La feria de autos personalizados más grande del mundo, presentando lo último en tendencias e innovaciones JDM.</p>
			</div>
		
			<div class="event">
				<h2>Wekfest Japón</h2>
				<p>Fecha: 3-5 de mayo de 2024</p>
				<p>Ubicación: Port Messe Nagoya, Nagoya, Japón</p>
				<p>Una reunión de los mejores vehículos del mercado japonés y piezas de posventa.</p>
			</div>
			<div class="event">
				<h2>Drift Matsuri</h2>
				<p>Fecha: 20-22 de septiembre de 2024</p>
				<p>Ubicación: Ebisu Circuit, Fukushima, Japón</p>
				<p>Tres días de acción de drifting sin parar en el legendario Ebisu Circuit.</p>
			</div>
		</div>
	</div>
</Layout>

<style>
.events-container {
	display: flex;
	justify-content: flex-end; /* Alinea los eventos a la derecha */
	padding: 1rem; /* Añade un poco de espacio */
}

.events-list {
	display: grid;
	gap: 2rem;
	max-width: 400px; /* Limita el ancho de la lista de eventos */
}

.event {
	background-color: rgba(var(--accent-light), 0.1);
	border-radius: 8px;
	padding: 1rem;
}

.event h2 {
	color: rgb(var(--accent-light));
	margin-top: 0;
}

@media (min-width: 768px) {
	.events-list {
		grid-template-columns: repeat(2, 1fr);
	}
}

</style>