---
import Layout from "../layouts/Layout.astro";
const error = Astro.url.searchParams.get("error");
---

<Layout title="Registrarse">
  <section class="bg-valorant-dark min-h-screen flex flex-col items-center justify-center">
    <div class="w-full max-w-md p-8 space-y-6 bg-gray-800 rounded-lg shadow-md">
      <div class="flex flex-col items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-user-square">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M9 10a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
          <path d="M6 21v-1a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v1" />
          <path d="M3 5a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-14z" />
        </svg>        <h1 class="text-2xl font-bold text-white">Crea tu cuenta</h1>
      </div>
      {/* Mostrar el error si existe */}
      {error && <p class="text-red-500 text-center">{error}</p>}
      <form method="POST" action="/api/signup" class="space-y-6" onsubmit="return validateForm()">
        <div>
          <label for="username" class="block mb-2 text-sm font-medium text-white">Nombre de Usuario</label>
          <input
            type="text"
            name="username"
            id="username"
            class="w-full p-3 bg-gray-900 border border-gray-700 text-white rounded-lg focus:ring-2 focus:ring-blue-500"
            required
          />
        </div>
        <div>
          <label for="password" class="block mb-2 text-sm font-medium text-white">Contraseña</label>
          <input
            type="password"
            name="password"
            id="password"
            class="w-full p-3 bg-gray-900 border border-gray-700 text-white rounded-lg focus:ring-2 focus:ring-blue-500"
            required
          />
        </div>
        <button
          type="submit"
          class="w-full bg-red-600 text-white py-3 rounded-lg font-semibold hover:bg-red-700 transition duration-200"
        >
          Registrarse
        </button>
        <p class="text-sm text-white">
          ¿Ya tienes una cuenta? <a href="/signin" class="text-blue-500 hover:underline">Inicia sesión</a>
        </p>
      </form>
    </div>
  </section>

  <script is:inline>
    function validateForm() {
      const username = document.getElementById('username').value;
      const password = document.getElementById('password').value;

      if (username.trim() === '' || password.trim() === '') {
        alert('Por favor, completa todos los campos.');
        return false;
      }

      if (password.length < 6) {
        alert('La contraseña debe tener al menos 6 caracteres.');
        return false;
      }

      return true;
    }
  </script>
</Layout>
