---
//src/components/Bienvenida.astro
const user = Astro.locals.user;

---
{user ? (
    <div class="flex flex-col items-center gap-4 bg-gray-800 p-6 rounded-lg shadow-lg text-center mb-14" >
      <h1 class="text-2xl font-semibold text-white">隆Bienvenido, {user.username} </h1>
      <div class="flex flex-col gap-2 w-full">
        <form method="POST" action="/api/signout" class="w-full">
          <button class="w-full bg-red-600 text-white py-2 rounded-lg hover:bg-red-700 transition duration-200">
            Cerrar sesi贸n
          </button>
        </form>
        <a class="w-full text-blue-400 hover:text-blue-500 text-center py-2" href="/admin">
          Ir al panel de administraci贸n
        </a>
      </div>
    </div>
  ) : (
    <div class="flex flex-col items-center gap-4 bg-gray-800 p-6 rounded-lg shadow-lg text-center mb-14">
      <h1 class="text-2xl font-semibold text-white">隆Bienvenido a JDM Social Network! </h1>
      <div class="flex flex-col gap-2 w-full">
        <a
          href="/api/github"
          class="w-full bg-gray-900 text-white py-2 rounded-lg hover:bg-gray-700 transition duration-200 text-center"
        >
          Iniciar sesi贸n con GitHub
        </a>
        <a
          href="/signin"
          class="w-full text-blue-400 hover:text-blue-500 text-center py-2"
        >
          Iniciar sesi贸n con usuario/contrase帽a
        </a>
      </div>
    </div>
  )}
  