---
const user = Astro.locals.user;

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="JDM Social Network" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>

          <div class="space-x-2">
            <li><a href="/profile">Perfil</a></li>
            <li><a href="/feed">Feed</a></li>
            <li><a href="/events">Eventos</a></li>
          </div>

          <div class="space-x-2">
            {!user ? (
              <>
                <li><a href="/signin">Sign In</a></li>
                <li><a href="/signup">Sign Up</a></li>
              </>
            ) : (
              <div class="flex flex-col gap-2">
                <form method="POST" action="/api/signout">
                  <button class="underline">Sign out</button>
                </form>
              </div>
            )}
          </div>
        </ul>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <p>&copy; 2024 JDM. All rights reserved.</p>
    </footer>
  </body>
</html>

<style is:global>
  * {
    list-style-type: none;
  }
  :root {
    --accent: 236, 72, 153;
    --accent-light: 244, 114, 182;
    --accent-dark: 190, 24, 93;
    --background: 26, 182, 203;
    --text: 226, 232, 240;
  }
  html {
    font-family: system-ui, sans-serif;
    background: rgb(var(--background));
    color: rgb(var(--text));
    scrollbar-color: darkcyan #0f172a;
    scrollbar-width: thin;
  }
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  header {
    background-color: #0000;
    padding: 1rem;
  }
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  nav a,
  nav ul div {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 2vh;
  }

  nav span {
    color: rgb(var(--text));
    text-decoration: none;
    font-weight: bold;
  }
  main {
    flex: 1;
    padding: 2rem;
    max-width: 1200px; /* Ancho máximo aumentado */
    margin: 0 auto;
  }
  footer {
    background-color: #0000;
    color: rgb(var(--text));
    text-align: center;
    padding: 1rem;
  }
  @media (max-width: 768px) {
    nav ul {
      flex-direction: column;
      align-items: center;
    }
    nav li {
      margin-bottom: 0.5rem;
    }
  }
</style>
